{% extends "accounts_base.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-sm">
        <div class="card-body text-center">
            <h5 class="card-title text-primary">Registration Successful</h5>
            <p class="card-text">Thank you for signing up. You can now enjoy our services.</p>
            <p class="card-text">We will contact you shortly.</p>
            <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
        </div>
    </div>
</div>
{% endblock %}
