{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center min-vh-100">
	<div class="row justify-content-center">
		<div class="col-md-10">
			<div class="card-group">
				<div class="card p-4">
					<div class="card-body">
						<h2 class="text-center">Sign-Up</h2>
						<p class="text-center">Please, use the following form to register:</p>
						<form method="post" action="{% url 'register_step3' %}">
							{% csrf_token %}
							{{ user_form.non_field_errors }}
							<div class="mb-3">
								{{ user_form.billing_address }}
							</div>
							<div class="mb-3">
								{{ user_form.city }}
							</div>
							<div class="mb-3">
								{{ user_form.state }}
							</div>
							<div class="mb-3">
								{{ user_form.zip_code }}
							</div>
							<button type="submit" class="btn btn-primary w-100">Next</button>
						</form>
					</div>
				</div>
				<div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
					<div class="card-body text-center d-flex flex-column justify-content-center">
						<div>
							<h2>Welcome Back!</h2>
							<p>To keep connected with us please login with your personal info</p>
						</div>
						<a href="{% url 'user_login' %}" class="btn btn-outline-light">Login</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}