{% extends 'admin/base_site.html' %}

{% block title %}Admin Accounts{% endblock %}

{% block content %}
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Cinema Booking Admin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Accounts</a>
                </li>
            </ul>
            <span class="navbar-text">
                WELCOME, [USERNAME]! (<a href="#">VIEW WEBSITE</a> | MANAGER | LOG OUT)
            </span>
        </div>
    </div>
</nav> -->
<div class="container mt-4">
    <h2 class="text-center mb-4">Accounts Administration</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Customer and Address</h5> <a href="{% url 'add_customer' %}"
                        class="btn btn-primary me-2 mb-2">Add User</a> <a href="{% url 'customer_data' %}"
                        class="btn btn-secondary mb-2">Customer Data</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}