/* base.css */
body {
    font-family: 'Inter', sans-serif;
    background-color: #f8f9fa;
}

.invalid-feedback {
    max-height: 50px; /* Adjust the height as needed */
    overflow-y: auto;
}

/* .container {
    min-height: 100vh;
}

.card-group>.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.bg-primary {
    background-color: #007bff !important;
}

.text-primary {
    color: #007bff !important;
}

.text-white {
    color: #ffffff !important;
}

.btn-outline-light {
    border-color: #ffffff;
    color: #ffffff;
}

.btn-outline-light:hover {
    background-color: #ffffff;
    color: #007bff;
} */


/* body {
    font-family: 'Inter', sans-serif;
}

.card {
    border-radius: 10px;
}

.card-title {
    font-weight: 700;
}

.form-label {
    font-weight: 700;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
} */
