{% extends 'base.html' %}

{% block title %}Admin Accounts{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Cinema Booking Admin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Accounts</a>
                </li>
            </ul>
            <span class="navbar-text">
                WELCOME, [USERNAME]! (<a href="#">VIEW WEBSITE</a> | MANAGER | LOG OUT)
            </span>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <h2>Accounts Administration</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Address</h5>
                    <a href="#" class="btn btn-primary">Add</a>
                    <a href="#" class="btn btn-secondary">Change</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Cards</h5>
                    <a href="#" class="btn btn-primary">Add</a>
                    <a href="#" class="btn btn-secondary">Change</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Customers</h5>
                    <a href="#" class="btn btn-primary">Add</a>
                    <a href="#" class="btn btn-secondary">Change</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
